@import url('https://fonts.googleapis.com/css2?family=Chivo&display=swap');

html {
    font-family: Chivo, sans-serif;
}

p,
span,
h1,
h2,
h3,
h4,
h5,
h6,
li,
a,
input,
label,
button {
    font-family: Montserrat, sans-serif !important;
}

body {
    background-color: #150c25;
    color: #f2f8fa;
}

pre {
    display: block;
    font-size: 87.5%;
    color: inherit;
    background-color: #00000047;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

textarea,
input {
    font-family: monospace !important;
    background-color: #fff;
    border-style: dashed;
    border-width: 2px;
    border-radius: 8px;
    margin-bottom: 5px;
    width: 100%;
    height: 43px;
    margin-bottom: 14px;
}

#privateKey {
    text-align: center;
}

button {
    color: rgba(255, 255, 255, 0.65);
    border-radius: 15px;
    padding: 12px 25px 12px;
    background-color: #bf8e3c;
    border-style: solid;
    border-width: 1px;
    margin: 1px;
    border-color: #ffc330;
    text-align: center;
    font-size: 16px;
    outline: 0;
}

button:hover {
    color: rgba(255, 255, 255, 0.95);
    background-color: #bf8e3a;
    border-color: #ffc330;
    border-width: 3px;
    border-style: solid;
}

button:focus,
button:active {
    outline: none !important;
    box-shadow: none;
    border-color: #ffc330;
    border-width: 1px;
    border-style: solid;
}

.hide-element {
    width: 0px;
    height: 0px;
    opacity: 0;
}

.fa-tiny-margin {
    margin-top: 4px;
}

.ptr {
    cursor: pointer;
}

.fa-stacked-ptr {
    cursor: pointer;
    margin-right: 15px;
}

.nav-logo {
    display: inline;
    vertical-align: middle;
    width: 150px;
}

.nav-link {
    font-weight: 500;
    font-size: 16px;
}

.nav-item {
    margin-left: 15px;
}

.navButton {
    color: #999;
}

.navButton:hover {
    color: #334758 !important;
}

.alert-danger {
    color: #fff;
    background-color: #ffabb361;
    border-color: #ba0014;
}

.nav-link {
    color: rgb(255, 255, 255) !important;
}

.nav-link:hover {
    color: rgba(255, 255, 255, 0.75) !important;
}

.minor-notif-subtext {
    opacity: 0.5;
    padding: 10px 5px 30px;
    text-align: center;
}

input::-moz-focus-inner {
    border: 0;
}

.large-box {
    background: rgb(20 43 102 / 92%);
    border-radius: 8px;
    border-color: #0f0e37;
    border-width: 1px;
    border-style: solid;
    margin: 5px;
}

.large-box:hover {
    background: linear-gradient(217deg, rgb(51, 0, 153, 0.1), rgb(34, 0, 102, 0.3) 70.71%);
    border-color: #0f0e37;
    border-width: 2px;

}

#qrModal.modal {
    width: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal {
    color: black;
}

.modal-label {
    position: relative;
    top: 20px;
    font-family: monospace;
    font-size: small;
}

.auto-fit {
    width: 100%;
    height: auto;
}

@keyframes disco {
    from {
        filter: hue-rotate(0deg);
    }

    to {
        filter: hue-rotate(360deg);
    }
}

.discoFilter {
    animation-name: disco;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: linear;
}

.reload {
    position: relative;
    top: 16px;
    left: 10px;
    display: inline-block;
    font-family: Lucida Sans Unicode;
    cursor: pointer;
    animation-name: spinner;
    animation-duration: 0.75s;
    animation-play-state: paused;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.playAnim {
    animation-play-state: running;
}

@keyframes spinner {
    0% {
        transform: translate3d(-50%, -50%, 0) rotate(0deg);
    }

    100% {
        transform: translate3d(-50%, -50%, 0) rotate(360deg);
    }
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.innerShadow {
    -webkit-box-shadow: inset hsla(0, 0%, 100%, .25) 0 2px 2px, inset rgba(0, 0, 0, .6) 0 -1px 8px;
    box-shadow: inset 0 2px 2px hsla(0, 0%, 100%, .25), inset 0 -1px 8px rgba(0, 0, 0, .6);
}

.seed-phrase {
    font-family: mono;
    background-color: #00000014;
    color: #e7a729;
    margin: 10px;
    padding: 10px;
    border-radius: 8px;
}

/* a bootstrap override */
.modal-footer {
    display: block !important;
}

.inline-address {
    font-family: mono;
    background-color: #00000014;
    color: #8e21ff;
    margin: 10px;
    padding: 3px;
    border-radius: 8px;
    display: inline;
}


#page-container {
    position: relative;
    min-height: calc(100vh - 75px);
}

#content-wrap {
    padding-bottom: 4rem;
    /* Footer height */
    margin-top: 75px;
}

.rm-pd {
    padding: 15px 15px 40px;
}

.max-width {
    width: 100%;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #080808;
    background-color: #000000;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    color: #ecd3af;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #334758 !important;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ffcc02 !important;
}

.active {
    color: #ffcc02 !important;
}

/* Style the tab content */
.tabcontent {
    font-family: sans-serif;
    display: none;
    padding: 6px 12px;
    border-radius: 8px;
}

#Transaction.tabcontent {
    padding-bottom: 100px;
}


.frame {
    display: block;
    margin: 0 auto;
    background: #2B0950BF;
}

/* DASHBOARD */

#guiWallet {
    width: 100%;
    height: 700px;
}

#bcg-wallet-box {
    display: block;
    width: 100%;
    height: 87%;
    border: 1px #ac8142 solid;
    border-radius: 8px;
    box-shadow: 2px 2px 15px 2px #e9a828;
    margin: 0 0 280px 0;
    background: linear-gradient(0.25turn, rgb(24 59 140 / 55%), rgb(20 41 96 / 53%));
}

/* -- Headline dashboard -- */

#headline-balance {
    display: block;
    width: 100%;
    height: 150px;
}

#window-icon-adon {
    display: inline-block;
    padding: 30px 50px;
    height: 150px;
    width: auto;
}

#adon-ring {
    display: inline-block;
    width: 65px;
    height: 65px;
    border-style: solid;
    border-radius: 50%;
    border-width: 3px;
    background-size: cover;
    background-image: url(../logo-circle.svg);
}

#number-adon {
    display: inline-block;
    vertical-align: top;
    width: auto;
    height: 60px;
    padding: 15px 10px 15px 60px;
}

#guiBalanceBox {
    display: inline-block;
    font-size: x-large;
}

#balance-box {
    display: block !important;
    margin: 20px auto 0 auto !important;
    width: 95%;
    height: 125px;
    background: linear-gradient(0.25turn, rgb(13 32 87), rgb(22 57 136));
}

#bal-title {
    float: right;
    padding: 45px 50px;
}

/* -- Headline -- */

/* -- Background -- */

#big-frame-address {
    display: block;
    width: 90%;
    height: auto;
    margin: 0 auto;
    padding-top: 40px;
}

#address-box {
    height: 320px;
    padding: 30px 25px;
}

#address-box.large-box {
    width: 96% !important;
    margin: 0 auto;
    background: linear-gradient(0.15turn, rgb(12 28 81), rgb(22 55 133));
}

/* -- Background -- */

/* -- Box of Content -- */

#title-address-box {
    width: 30%;
    padding: 10px 20px 0 30px;
    margin: 0 !important;
}

#box-info-address {
    display: inline-block;
    width: 69%;
    padding-top: 40px;
}

/* -- Into -- */

#address-info {
    display: inline-block;
    width: 75%;
    padding: 0 0 20px 40px;
}

#guiAddress {
    display: inline-block;
    width: 100%;
    font-size: 16px;
    line-break: anywhere;
    word-break: break-all;
    font-family: monospace;
    font-weight: 300;
}

#guiQRButton {
    display: inline-block;
    width: auto;
    padding: 10px 0;
    font-size: large;
}

/* -- Into -- */

#ring {
    display: inline-block;
    padding: 10px 10px 20px 50px;
}

#identicon {
    background-color: white;
    border-color: white;
    border-width: 3px;
    border-style: solid;
    border-radius: 1000px;
}

/* -- Box of Content -- */

/* -- Pubkey QR -- */

.mobile-pubkey {
    display: none !important;
}

#box-info-address {
    vertical-align: top;
}

#pubkey-padd {
    display: inline-block;
    height: auto;
    width: 30%;
}

#pubkey-box.col-md-4 {
    float: none;
    clear: both;
    display: block !important;
    max-width: 100%;
    padding: 0 0 20px 0;
}

#pubkey-box {
    display: block;
    width: 100% !important;
    margin: 0;
    text-align: center;
}
#PrivateCipheredQR img,
#PrivateQR img,
#PublicQR img {
    width: 95px !important;
    height: 95px !important;
}
#PrivateCipheredTxt,
#PrivateTxt {
    color: black;
    font-size: 12px !important;
    text-align: center;
    line-height: 20px;
}


/* -- Pubkey QR -- */

/*-- Warning --*/

#genKeyWarning {
    position: relative;
    padding: 20px;
}

#genKeyWarning div {
    display: inline-block !important;
    width: 100%;
    max-width: calc(100% - 304px) !important;
    padding-top: 5px;

}

#genKeyWarning .adonis-button-big {
    float: right;
}

/* -- Warning -- */

.margin-padded-qr {
    margin-bottom: 10px;
    padding: 5px 10px 10px 10px;
}

/* STAKE */

.add-frame {
    display: block;
    margin: 0 auto;
    width: 85% !important;
    height: 800px !important;
    ;
    background: rgb(25 58 127 / 48%);
    border: 1px solid #0f0e37;
    border-radius: 8px;
    padding: 5px;
}

#stake-title {
    display: inline-block;
    margin: 0;
    cursor: default;
}

#StakingTab {
    padding: 10px 10px 30px;
    margin: 20px 0 100px;
}

.staking-banner-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    min-height: 200px;
    width: 100%;
}

.staking-rewards-header {
    height: 15%;
    font-size: large;
    overflow: hidden;

}
.staking-rewards-list {
    overflow: auto;
    font-size: large;
    height: 85%;
}

#staking-rectangle {
    position: relative;
    display: block;
    height: 100px;
    max-width: 100% !important;
    border-bottom: 1px solid #0f0e37;
}

#adonis-price-box {
    height: 100px;
    width: 240px;
    float: left;
}

#icon-box-adon {
    display: inline-block;
    width: 80px;
    height: 80px;
    padding: 20px 15px 40px 35px;
    margin: 0 !important;
}

#adon-price-amount {
    margin: 0 !important;
    padding: 30px 30px 30px 30px;
    float: right;
}

#guiBalanceBoxStaking {
    display: inline-block;
    margin: 0;
    font-size: x-large;
}

#staking-box {
    height: 100px;
    width: 220px;
    float: right !important;
    padding: 30px 30px 30px 20px;
}

.staking-adon-icon {
    display: inline-block;
    width: 55px;
    height: 55px;
    border-style: solid;
    border-radius: 1000px;
    border-width: 3px;
    background-size: cover;
    background-image: url(../logo-circle.svg);
}

.stake-box {
    text-align: center;
    margin-left: auto !important;
    margin-right: auto !important;
    height: 220px;
    margin: 30px 5px 10px;
}


.stake-balances {
    margin-top: 1rem;
    margin-bottom: 0.75rem;
    padding: 5px;
}

.stake-input {
    color: black;
    font-size: 16px !important;
    text-align: center;
    line-height: 20px;
}


/* FOOTER */

#foot {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px;
    border-top: solid #193f88 1px;
    background-color: #0e082c85;
}

.footer {
    width: 100%;
    color: white;
    text-align: center;
    padding: 0;
}

.footer a {
    color: white;
    font-weight: bold;
}

#dcfooter {
    display: inline;
}

.navbarSpecial {
    background: linear-gradient(90deg, #0e082c 12.5%, #193f88, #0e082c);
    border-bottom-color: #201264;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    position: fixed;
    width: 100%;
}

/* New styling */

/* Buttons */
.adonis-button-big {
    display: inline-block;
    outline: none;
    margin: 5px;
    font-family: Montserrat, sans-serif;
    height: auto;
    padding: 14px 30px;
    background: linear-gradient(183deg, #97754b, #ffb61e);
    line-height: 1.25em;
    font: 15px Montserrat, sans-serif !important;
    letter-spacing: .025em;
    font-family: Montserrat, sans-serif;
    color: #fffeff;
    text-transform: uppercase;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    border-radius: 35px;
    -webkit-box-shadow: 3px 3px 25px 2px rgb(26 14 42 / 50%);
    -moz-box-shadow: 3px 3px 25px 2px rgba(26, 14, 42, .5);
    box-shadow: 3px 3px 25px 2px rgb(26 14 42 / 50%);
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.button-padd {
    display: inline-block;
    height: auto;
    width: auto;
    padding: 15px 10px;
}

.home-hero {
    background: radial-gradient(45vw 80% at 90% 40%, rgb(50 136 255 / 30%), rgb(9 8 60 / 0%) 95%), linear-gradient(90deg, rgb(11 28 76 / 90%), rgb(15 29 131 / 50%) 60%, rgb(11 19 76 / 90%)), linear-gradient(35deg, rgb(11 13 76 / 30%), rgb(15 19 131 / 30%) 37%, rgb(11 13 76 / 30%) 0, rgb(15 45 131 / 30%) 76%, rgb(11 19 76 / 30%) 0, rgb(15 61 131 / 30%)), linear-gradient(90deg, #0b134c, #0f3083 60%, #15317f);
}

.title-section {
    margin-bottom: 20px;
}

/*ADONIS WARNINGS*/
.warning-message {
    display: none;
    background-color: #111540;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 15px;
}

.warning-message p {
    margin-bottom: 0px;
}

.warning-message a {
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    background-color: transparent;
}

.alert-danger {
    color: #fff;
    background-color: #111540;
    border-color: #cc9636;
}

/*ADONIS TEXT CUSTOMS*/
.adonis-bold-title {
    line-height: 1.35em;
    font-size: calc(37.88235px + .70588vw);
    font-weight: 700;
    font-family: Montserrat, sans-serif;
}

.adonis-bold-title-smaller {
    line-height: 1.35em;
    font-size: 38px;
    font-weight: 700;
    font-family: Montserrat, sans-serif;
}

.adonis-bold-title span,
.adonis-bold-title-smaller span {
    font-size: .6em;
    display: block;
    line-height: 1.2em;
    font-weight: 300;
}

.center-text {
    text-align: center;
}

/*ADONIS FEATURES SECTION*/
.adonis-feature-father {
    margin-top: 90px;
}

.adonis-feature-interior {
    background: linear-gradient(90deg, #122e8b, #0c1e67);
    padding: 25px;
    text-align: center;
    border-radius: 10px;
}

.adonis-feature-interior h4 {
    font-size: 24px;
    font-weight: 600;
    margin-top: 19px;
}

.adonis-feature-interior h5 {
    opacity: 0.65;
    padding: .7rem 0 1.25rem;
    line-height: 1.75em;
    font-size: 16px;
    font-weight: 300 !important;
}

.feature-icon {
    text-align: center;
    width: 100% !important;
    margin-top: -90px;
    min-height: 150px;
}

.feature-icon img {
    width: 146px;
    height: auto;
}

.smaller-feature {
    width: 145px !important;
}

.features-section {
    margin-top: 0px;
}

.buttoni-icon {
    vertical-align: top;
    display: inline-block;
    padding: 0 12px 0 0;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.buttoni-icon svg {
    display: block;
    width: auto;
    height: 24px;
    max-height: 24px;
    margin: 0;
    fill: #fffeff;
}

.buttoni-text {
    vertical-align: top;
    display: inline-block;
    padding: 2px 0 0;
}

.buttoni-arrow {
    vertical-align: top !important;
    display: inline-block;
    padding: 4px 0 4px 10px;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.buttoni-arrow svg {
    display: block;
    width: 15px;
    height: auto;
    margin: 0;
    fill: #fffeff;
}

.purple-icon-link {
    color: #ffb61e;
}

.purple-icon-link,
.white-icon-link {
    padding: 0;
    font-weight: 500;
    text-transform: uppercase;
}

.black-link .link-icon.link-icon-suffix,
.dark-link .link-icon.link-icon-suffix,
.faded-link .link-icon.link-icon-suffix,
.gray-link .link-icon.link-icon-suffix,
.light-link .link-icon.link-icon-suffix,
.pink-link .link-icon.link-icon-suffix,
.purple-icon-link .link-icon.link-icon-suffix,
.purple-link .link-icon.link-icon-suffix,
.shaded-link .link-icon.link-icon-suffix,
.white-icon-link .link-icon.link-icon-suffix,
.white-link .link-icon.link-icon-suffix,
a .link-icon.link-icon-suffix {
    padding: 0 0 0 .6rem;
    float: right;
    margin-top: 2px;
    -webkit-transition: padding-left .14s ease-out;
    -moz-transition: padding-left .14s ease-out;
    -o-transition: padding-left .14s ease-out;
    transition: padding-left .14s ease-out;
}

.black-link .link-icon svg,
.dark-link .link-icon svg,
.faded-link .link-icon svg,
.gray-link .link-icon svg,
.light-link .link-icon svg,
.pink-link .link-icon svg,
.purple-icon-link .link-icon svg,
.purple-link .link-icon svg,
.shaded-link .link-icon svg,
.white-icon-link .link-icon svg,
.white-link .link-icon svg,
a .link-icon svg {
    display: block;
    width: 19px;
    height: auto;
    fill: #cac9d2;
}

.black-link,
.dark-link,
.faded-link,
.gray-link,
.light-link,
.pink-link,
.purple-icon-link,
.purple-link,
.shaded-link,
.white-icon-link,
.white-link,
a {
    vertical-align: top;
    display: inline-block;
    text-decoration: none !important;
}

.black-link,
.dark-link,
.faded-link,
.gray-link,
.light-link,
.pink-link,
.purple-icon-link,
.purple-link,
.shaded-link,
.white-icon-link,
.white-link,
a {
    outline: none;
    background: none;
    border: none;
}

/*ADONIS DONATION SECTION*/
.donation-section {
    margin-top: 30px;
    margin-bottom: 80px;
}

/*ADONIS DASHBOARD*/
.dashboard-item {
    background: linear-gradient(90deg, #122e8b, #0c1e67);
    border-radius: 6px;
    padding: 40px;
    padding-right: 15%;
    padding-left: 15%;
    text-align: center;
    float: left;
    margin-bottom: 15px;
}

.send-eligibility-section .container .column-padded-around .coinstat-icon,
.supply-control-section .container .column-padded-around .coinstat-icon {
    margin-bottom: .5rem;
}

.coinstat-icon,
.coinstat-icon svg,
.masternodes-requirements-section .masternode-requirement-icon,
.masternodes-requirements-section .masternode-requirement-icon svg,
.setup-icon,
.setup-icon svg {
    margin: 0 auto;
}

.coinstat-icon,
.feature-icon,
.masternodes-requirements-section .masternode-requirement-icon,
.setup-icon {
    display: block;
    width: 75px;
    height: 75px;
    padding: 0;
}

.coinstat-icon svg,
.feature-icon svg,
.masternodes-requirements-section .masternode-requirement-icon svg,
.setup-icon svg {
    display: block;
    width: 75px;
    max-height: 75px;
    padding: 0;
    fill: #9621ff;
}

.dashboard-title {
    margin-top: 15px;
}

.badge {
    margin-bottom: 13px;
}

.private-key-area {
    height: 29px !important;
    font-size: 14px !important;
    padding-top: 4px;
    padding-bottom: 4px;
    background: #193d85;
    border: none;
    resize: none;
    color: white;
}

.export-key {
    width: 100%;
    padding-bottom: 36px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

/* SEND */

#sendNotice {
    margin: 10px 0 20px 0;
}

#communication {
    color: white;
    opacity: 0.6;
    padding: 15px 5px 70px 5px;
}

#signed-raw {
    padding: 10px 0 5px;
}

.bold-trans {
    padding: 15px 0 15px !important;
    font-size: 20px !important;
    font-weight: 600 !important;
}

/* SETTINGS */

#submit-button.adonis-button-big {
    width: auto !important;
    padding: 14px 90px;
}


/* BREAKPOINTS */

@media screen and (max-width: 1200px) {

    /* Stake page */

    .button-padd .adonis-button-big {
        margin: 0;
        display: inline-block !important;
        width: 100% !important;
        padding: 15px 13px;
    }
}

@media screen and (max-width: 1199px) {

    /* Dashboard page */
    #genKeyWarning .adonis-button-big {
        margin-top: 20px;
    }
    #PrivateCipheredQR img,
    #PrivateQR img,
    #PublicQR img {
        width: 90px !important;
        height: 90px !important;
    }

    #box-info-address {
        width: 64%;
    }

    #address-info {
        width: 60%;
    }

    #pubkey-padd {
        width: 33%;
    }
}

@media screen and (min-width: 1025px) {

    /*Main Wallet page */
    #PrivateTxt {
        font-size: 25px;
    }
    #PrivateCipheredTxt{
        font-size: 25px;
    }
    #PublicTxt {
        font-size: 25px;
    }
}

@media screen and (max-width: 1024px) {

    /*Main Wallet page */
    #PrivateTxt {
        font-size: 18px;
    }
    #PrivateCipheredTxt{
        font-size: 18px;
    }
    #PublicTxt {
        font-size: 25px;
    }

    /* Settings */

    #Settings .adonis-button-big {
        margin: 8px 2px;
    }
}

@media screen and (max-width: 1000px) {

    /* Stake page */

    #guiBalanceBoxStaking {
        display: inline-block;
        width: 100%;
    }

    .stake-box.large-box.col-md-4 {
        padding: 10px;
        display: inline-block !important;
        width: 50% !important;
        margin: 30px 10px !important;
    }

    .add-frame {
        width: 100% !important;
    }

    .stake-box .button-padd {
        padding: 15px 6px;
    }

    .stake-box .button-padd .adonis-button-big {
        padding: 15px 22px 15px 27px;
    }

    .stake-box .button-padd .buttoni-icon {
        display: none;
    }

    .button-padd .buttoni-arrow {
        padding-left: 5px;
        padding-right: 0;
    }
}

@media screen and (max-width: 992px) {

    /* Dashboard page */

    #big-frame-address {
        padding-top: 20px;
    }

    #genKeyWarning div {
        max-width: 100% !important;
    }

    #genKeyWarning p {
        width: 100% !important;
        padding-bottom: 15px;
    }

    #genKeyWarning .adonis-button-big {
        float: none;
        clear: both;
        display: block !important;
        margin: 0 auto;
    }

    #bcg-wallet-box {
        height: 98%;
    }

    #address-box.large-box {
        height: 260px;
        background: none;
    }

    #box-info-address {
        display: block;
        width: 100%;
        padding-top: 20px;
    }

    #address-info {
        width: 69%;
    }

    .margin-padded-qr {
        margin-bottom: 10px;
        padding: 10px;
    }

    #pubkey-padd {
        width: auto;
        display: block;
        padding-top: 60px;
    }

    #pubkey-box {
        display: block;
    }

    #pubkey-box .adonis-button-big {
        width: 230px !important;
    }
    #PrivateCipheredQR img,
    #PrivateQR img,
    #PublicQR img {
        width: 75px !important;
        height: 75px !important;
    }

    /* Intro page */
    .intro-page .col-md-11 {
        width: 100% !important;
        padding-bottom: 35px;
    }
}

@media screen and (max-width: 770px) {

    #adonis-price-box {
        width: 200px;
    }

    #adon-price-amount {
        padding: 30px 15px 30px 35px;
    }

    #icon-box-adon {
        padding: 20px 10px 30px 15px;
        margin: 0 !important;
    }

    #staking-box {
        width: 190px;
        padding: 30px 5px 30px 20px;
    }
}

@media screen and (max-width: 768px) {

    /* Main Wallet page */
    #PrivateTxt {
        font-size: 17px;
    }
    #PrivateCipheredTxt{
        font-size: 17px;
    }

    #PublicTxt {
        font-size: 25px;
    }

    /* Paddings - text */
    .dashboard-item {
        padding-left: 5%;
        padding-right: 5%;
    }

    /* Dashboard page */

    #balance-box {
        width: 92%;
        height: 120px;
    }

    #guiBalanceBox {
        margin: 0;
    }

    #address-box.large-box {
        height: 240px;
        background: none;
    }

    #address-info {
        width: 65%;
    }

    #pubkey-box {
        padding-top: 40px;
    }

    #pubkey-box .adonis-button-big {
        width: 225px !important;
    }
}

@media screen and (max-width: 767px) {

    /* Dashboard */

    #genKeyWarning .adonis-button-big {
        padding: 13px 20px;
    }

    #adon-ring {
        display: none;
    }

    #window-icon-adon {
        padding: 30px 0 30px 30px;
    }

    #ring {
        padding: 0 5px 20px 50px;
    }

    #identicon {
        height: 60px;
        width: 60px;
    }

    /* Stake page */

    .add-frame {
        height: 1000px !important;
    }

    .stake-box.large-box.col-md-4 {
        padding: 10px 20px;
        width: 85% !important;
    }
}

@media screen and (max-width: 600px) {

    /* Buttons - Hide icons or it will be deformed */
    .buttoni-arrow,
    .buttoni-icon {
        display: none;
    }

    /* Main Wallet page */
    #PrivateTxt {
        font-size: 13px;
    }
    #PrivateCipheredTxt{
        font-size: 13px;
    }

    #PublicTxt {
        font-size: 17px;
    }

    /* STAKE page */

    #staking-box {
        padding: 30px 5px 30px 35px;
    }

    #stake-title {
        font-size: 25px;
    }

    #submit-button.adonis-button-big {
        padding: 14px 85px 14px 100px;
        margin-top: 20px;
    }

    /* Dashboard */

    #address-info {
        width: 55%;
    }
}

@media screen and (max-width: 550px) {

    /* Dashboard page */

    #bcg-wallet-box {
        height: 100%;
    }

    #ring {
        padding: 5px 5px 30px 40px;
        vertical-align: top;
    }

    #bal-title {
        padding: 45px 40px 45px 20px;
    }

    #window-icon-adon {
        padding: 30px 0;
    }

    #address-box.large-box {
        padding-top: 20px;
        height: 250px;
        /*background: linear-gradient(217deg, rgb(51, 0, 153, 0.1), rgb(34, 0, 102, 0.3) 70.71%);*/
        border-color: #763acf;
    }

    #title-address-box {
        width: auto;
        padding: 10px 20px 0 20px;
    }

    #box-info-address {
        padding-top: 25px;
    }

    #address-info {
        width: 59%;
    }

    /* STAKE page */

    #info {
        margin-bottom: 35px;
    }
}

@media screen and (max-width: 535px) {

    /* Dashboard */

    #pubkey-box .adonis-button-big {
        width: 200px !important;
    }
}

@media screen and (max-width: 510px) {

    /* Dashboard page */

    #pubkey-box .adonis-button-big {
        padding: 12px 10px;
    }

    /* Settings page */
    #Settings {
        text-align: center;
    }

    #icon-box-adon {
        display: none;
    }

    #adonis-price-box {
        width: 130px;
    }
}

@media screen and (max-width: 480px) {

    /* Main Wallet page */
    #PrivateTxt {
        font-size: 8px;
    }
    #PrivateCipheredTxt{
        font-size: 8px;
    }

    #PublicTxt {
        font-size: 13px;
    }

    /* Stake */


    #adonis-price-box {
        width: auto;
    }

    /* Dashboard */

    #number-adon {
        padding: 15px 5px 15px 40px;
    }

    #ring {
        padding: 5px 5px 30px 30px;
    }

    #pubkey-padd {
        padding-top: 40px;
    }
}

@media screen and (max-width: 420px) {

    /* Send */

    .max-width {
        width: 98%;
    }

    #Transaction.tabcontent {
        padding: 10px 15px 110px 15px;
    }

    /* Settings page */

    #submit-button.adonis-button-big {
        display: block;
        height: auto;
        margin: 0 auto;
    }

    .buttoni-arrow {
        display: none;
    }

    #navbarToggler {
        position: sticky;
        left: 290px;
    }

    /* Dashboard */


    #adon-ring {
        display: none !important;
    }

    #guiBalanceBox {
        font-size: 18px !important;
    }

    #balance-box h3 {
        font-size: 20px;
    }

    #identicon {
        width: 55px;
        height: 55px;
    }

    #pubkey-box .adonis-button-big {
        padding: 11px 10px;
    }

    #pubkey-box.col-md-4 {
        padding-top: 20px;
    }
}

@media screen and (max-width: 393px) {

    /* Dashboard */

    #adon-price-amount {
        padding: 30px 15px;
    }

    #address-box.large-box {
        padding-top: 15px;
        height: 255px;
    }

    #title-address-box {
        padding: 18px 20px 0 15px;
    }

    #ring {
        padding: 5px 5px 30px 20px;
    }

    #address-info {
        padding-left: 15px;
    }

    #pubkey-padd {
        padding-top: 30px;
    }
}

@media screen and (max-width: 380px) {

    /* Nav */
    #navbarToggler {
        left: 180px;
    }

    /* Stake */

    #staking-box {
        padding: 30px 10px 35px 10px;
        height: auto;
        width: auto;
    }

    /* Dashboard */

    #number-adon {
        padding: 15px 5px 15px 35px;
    }

    #bal-title {
        padding: 45px 30px 45px 10px;
    }

    #balance-box h3 {
        font-size: 24px;
    }

    #pubkey-box .adonis-button-big {
        padding: 11px 10px;
    }
}

@media screen and (max-width: 360px) {

    /* Dashboard */

    #address-info {
        width: 90%;
        padding-left: 35px;
    }

    #guiQRButton {
        padding: 15px 10px;
    }

    #identicon,
    #ring {
        display: none;
    }

    #adon-price-amount {
        padding: 30px 5px 30px 20px;
    }

    #bal-title {
        padding: 47px 25px 47px 10px;
    }

    #balance-box h3 {
        font-size: 22px;
    }

    #pubkey-box .adonis-button-big {
        width: 150px !important;
    }

    /* Stake */

    #staking-box {
        padding: 35px 10px 35px 10px;
    }

    #stake-title {
        font-size: 22px !important;
        height: auto;
    }
}

@media screen and (max-width: 332px) {

    /* Dashboard */

    #balance-box {
        width: 92%;
        height: 140px;
    }

    #window-icon-adon {
        padding: 5px 10px;
        height: auto;
    }

    #bal-title {
        float: none;
        clear: both;
        padding: 10px 10px 10px 50px;
    }
}

@media screen and (max-width: 320px) {

    /* Intro */

    #navbarToggler {
        font-size: 14px;
    }

    .feature-icon img {
        width: 115px !important;
        height: auto;
    }

    .feature-icon .smaller-feature {
        width: 80px !important;
        height: auto;
    }

    .donation-section .adonis-button-big {
        width: 225px !important;
        margin: 0 auto;
    }

    /* Stake */

    #adon-price-amount {
        padding: 30px 5px 30px 10px;
    }

    #staking-box {
        padding: 35px 5px 35px 5px;
    }

    /* Settings */

    .adonis-button-big {
        font-size: 14px !important;
    }

    #submit-button.adonis-button-big {
        padding: 14px 50px !important;
    }
}

@media screen and (max-width: 300px) {

    /* Intro */

    #navbarToggler {
        left: 80px !important;
        font-size: 12px;
    }

    #page-container {
        min-width: 280px;
        min-height: 900px;
    }

    .container {
        padding-left: 5px;
        padding-right: 5px;
    }

    .row {
        margin-left: 1px;
        margin-right: 1px;
    }

    .features-section .col-md-6 {
        float: none !important;
        clear: both !important;
        display: block !important;
        margin: 100px auto 50px auto;
        width: 220px;
        margin-right: 20px;
    }

    .adonis-feature-interior {
        width: 100% !important;
        padding: 15px 8px;
    }

    .adonis-bold-title {
        font-size: calc(32px + 1vw);
    }

    .donation-section {
        margin-top: 0px;
    }

    /* Stake */

    .add-frame {
        height: 750px !important;
    }

    .stake-box.large-box.col-md-4 {
        margin: 30px 10px 10px 10px !important;
    }

    #adon-price-amount {
        padding: 30px 60px;
        text-align: center !important;
    }

    #staking-box {
        padding: 30px 20px;
        text-align: center;
        width: 100%;
        border-bottom: 1px solid #a366ff;
    }

    #stake-title,
    #guiBalanceBoxStaking {
        font-weight: 600;
    }

    .stake-box .button-padd .adonis-button-big {
        padding: 14px 18px;
    }
}

/* Alert */
.alertPositioning {
    position: fixed;
    z-index: 100;
    right: 10px;
    bottom: 10px;
}

.alertpop {
    padding: 20px;
    right: 0px;
    background-color: #282828b5;
    color: white;
    opacity: 1;
    transition: opacity 0.6s;
    margin-bottom: 15px;
    border-radius: 5px;
}

.alertpop.success {
    background-color: #0DE69694;
}

.alertpop.info {
    background-color: #2196F37D;
}

.alertpop.warning {
    background-color: #d94a2982;
}

.alertpop:hover {
    cursor: pointer;
}
